:root {
  --primary: #000000;
  --secondary: #7c8db5;
  --white: #ffffff;
  --border: #e6edff;
  --indigo: #347ae2;
  --red: #ff3b30;
  --green: #34c759;
  --orange: #ff9500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
textarea,
button {
  font: 400 16px "Roboto", sans-serif;
}
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
